[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ercx-tests"]
	path = lib/ercx-tests
	url = https://github.com/runtimeverification/ercx-tests
